body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.66);
  background-color: #000;
}
header .links_listheader {
  color: rgba(255, 255, 255, 0.66);
  text-decoration: none;
}
header .links_listheader:hover {
  color: white;
}
header #sapo_logo {
  height: 60px;
  max-width: 100%;
}
header .cabecalho {
  display: flex;
  width: 100%;
}
header .listheader {
  padding-top: 0px;
  padding-left: 5px;
  margin: auto;
  display: flex;
  gap: 10px;
  list-style: none;
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------------------------------------------------------------*/
/* HEADER 1*/
.header1 {
  background-color: #f3f2ed;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: 100px;
  /*da listbottom*/
}
.header1 #img2header {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
}
.header1 #listbottom {
  display: flex;
  align-items: center;
  grid-column-start: 8;
  grid-column-end: 9;
  /*dropdown menu*/
}
.header1 #listbottom #principal {
  color: #6f6d66;
  font-family: "Roboto", sans-serif;
  display: flex;
  list-style: none;
  gap: 45px;
  padding: 0;
}
.header1 #listbottom #principal li a {
  color: inherit;
  text-decoration: none;
}
.header1 #listbottom #principal li a:hover {
  transition: 200ms;
  padding: 0.5em;
  background-color: #ffffff;
  border: 1px solid #d6d3c5;
  border-radius: 3px;
}
.header1 #listbottom #dp-menu-content {
  display: none;
}
.header1 #listbottom .dp-menu:hover #dp-menu-content {
  display: block;
  position: absolute;
  list-style: none;
}

/*---------------------------------------------------------------------------------------------*/
/*ante-penultimo footer*/
#footer1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: #6f6d66;
  padding: 1.5em 0;
  color: #ffffff;
  box-sizing: border-box;
}
#footer1 p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin-top: 0.15em;
  margin-bottom: 0.75em;
  line-height: 1.2em;
}
#footer1 h3 {
  font-size: 1.6em;
  color: #e4e2d9;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}
#footer1 button {
  color: #ffffff;
  font-weight: 300px;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
  background: #0f9585;
  border: none;
}
#footer1 button:hover {
  transition: 0.25s;
  background-color: #0a675c;
}
#footer1 #caixa1 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
}
#footer1 #caixa2 {
  position: relative;
  grid-column-start: 5;
  grid-column-end: 6;
}

/*---------------------------------------------------------------------------------------------*//*# sourceMappingURL=main.css.map */