body{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
    color: rgba(255,255,255,.66);
    background-color: #000;

    .links_listheader{
        color:rgba(255,255,255,.66);
        text-decoration: none;
    }
    .links_listheader:hover{
        color: white;
    }
    
    #sapo_logo{
        height: 60px;
        max-width: 100%;

    }
    
    .cabecalho{
        display: flex;
        width: 100%;

    }

    .listheader{
        padding-top: 0px;
        padding-left: 5px;
        margin: auto;
        display: flex;
        gap: 10px;
        list-style: none;
        width: 100%;
        height: 100%;
    }
}

/*-----------------------------------------------------------------------------------------------------*/

/* HEADER 1*/

.header1{
    background-color: #f3f2ed;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 100px;

    #img2header{
        display: flex;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #listbottom{
        display: flex;
        align-items: center;
        grid-column-start: 8;
        grid-column-end: 9;
    
    
    #principal{
        color: #6f6d66;
        font-family: 'Roboto', sans-serif;
        display: flex;
        list-style: none;
        gap: 45px;
        padding: 0;

        li{
            
            a{
                color: inherit;
                text-decoration: none;
            
            
            }

            a:hover{
                transition: 200ms;
                padding: 0.5em;
                background-color: #ffffff;
                border: 1px solid #d6d3c5;
                border-radius: 3px;
            }
            
        }
    }

    /*dropdown menu*/
    #dp-menu-content{
        display: none;
        
    }

    .dp-menu:hover{

        #dp-menu-content{
            display: block;
            position: absolute;
            list-style: none;
            
        
        }           
    }



    

    } /*da listbottom*/
        
    
}

/*---------------------------------------------------------------------------------------------*/
/*form*/

.geral_form{
    background-color: #42413d;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 15em 0 15em;
    margin-top: 10em;
    

    form{
        display: grid;
        column-gap: 40px;  
        row-gap: 20px;
        width: 50%;
    }

    .grid_form{
    padding-top: 5%;
    grid-template-columns: repeat(4, fr);
    grid-template-rows: repeat(5, 5vw);
    max-width: 100%;
    height: 100%;
    
    
        .form_tipo{
        grid-column: 1/3;
        grid-row: 1/2;
        

        select{
            font-size: .9em;
            padding-right: 30px;
            padding: 0 6px;
            height: 36px;
            line-height: 36px;
            font-size: .9em;
            width: 100%;
            border-radius: 5px;
        }
        }

        .form_marca{
        grid-column: 3/5;
        grid-row: 1/2;

        select{
            font-size: .9em;
            padding-right: 30px;
            padding: 0 6px;
            height: 36px;
            line-height: 36px;
            font-size: .9em;
            width: 100%;
            border-radius: 5px  ;
        }
        }

        #item-3{
        grid-column: 1/3;
        grid-row: 2/3;

        select{
            font-size: .9em;
            padding-right: 30px;
            padding: 0 6px;
            height: 36px;
            line-height: 36px;
            font-size: .9em;
            width: 100%;
            border-radius: 5px  ;
        }
        }

        #item-4{
        grid-column: 3/4;
        grid-row: 2/3;
        
        select{
            font-size: .9em;
            padding-right: 30px;
            padding: 0 6px;
            height: 36px;
            line-height: 36px;
            font-size: .9em;
            border-radius: 5px ;
        }
        }

        #item-5{
        grid-column: 4/5;
        grid-row: 2/3;

        select{
            font-size: .9em;
            padding-right: 30px;
            padding: 0 6px;
            height: 36px;
            line-height: 36px;
            font-size: .9em;
            border-radius: 5px;
        }
        }
        #item-6{
        grid-column: 1/2;
        grid-row: 3/4;

        select{
            font-size: .9em;
            padding-right: 30px;
            padding: 0 6px;
            height: 36px;
            line-height: 36px;
            font-size: .9em;
            border-radius: 5px;
        }
        }

        #item-7{
        grid-column: 2/3;
        grid-row: 3/4;

        select{
            font-size: .9em;
            padding-right: 30px;
            padding: 0 6px;
            height: 36px;
            line-height: 36px;
            font-size: .9em;
            border-radius: 5px;
        }
        }

        #item-8{
        grid-column: 3/5;
        grid-row: 3/4;

        select{
            font-size: .9em;
            padding-right: 30px;
            padding: 0 6px;
            height: 36px;
            line-height: 36px;
            font-size: .9em;
            width: 100%;
            border-radius: 5px ;
        }
        }

        #item-9{
        grid-column: 1/3;
        grid-row: 4/5;

        select{
            font-size: .9em;
            padding-right: 30px;
            padding: 0 6px;
            height: 36px;
            line-height: 36px;
            font-size: .9em;
            width: 100%;
            border-radius: 5px  ;
        }
        }
        #item-10{
        grid-column: 3/5;
        grid-row: 4/5;
        padding-top: 18px;

        input{
            font-size: .9em;
            padding-right: 30px;
            padding: 0 6px;
            height: 36px;
            line-height: 36px;
            font-size: .9em;
            width: 100%;
            border-radius: 5px;
            background-color: #0f9585;
            color: white;
        }
    }
        #item-11{
        grid-column: 1/3;
        grid-row: 5/6;
        color: white;
        }
        #item-12{
        grid-column: 3/5;
        grid-row: 5/6;
        color: #0f9585;

        #zero_estranho{
            display: inline-block;
            width: 16px;
            height: 16px;
            line-height: 16px;
            background: #d6d3c5;
            color: #42413d;
            font-size: .8em;
            font-weight: 500;
            text-align: center;
            border-radius: 8px;
            background-clip: padding-box;
            margin: 0 3px;
            top: -2px;
            position: relative;
            background: #0f9585;
            color: white;
        }
        }
    label{
    font-size: .7em;
    color: #e4e2d9;
    font-weight: 300;
    height: 20px;
    line-height: 20px;
    margin: 0;
    margin-left: 6px;
    text-transform: uppercase;
    }
}
}
/*---------------------------------------------------------------------------------------------*/

/*ante-penultimo footer*/

#footer1{

    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;

    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: #6f6d66;
    padding: 1.5em 0;
    color: #ffffff;
    box-sizing: border-box;

    p{
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 300;
        margin-top: 0.15em;
        margin-bottom: 0.75em;
        line-height: 1.2em;
    }
    
    
    h3{
        font-size: 1.6em;
        color: #e4e2d9;
        font-weight: 200;
        text-transform: uppercase;
        margin-bottom: 0.25em;
    }

    button{
        color: #ffffff;
        font-weight: 300px;
        padding: 5px;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 3px;
        background: #0f9585;
        border: none;
    }
    button:hover{
        transition: 0.25s;
        background-color: #0a675c;
    }

    #caixa1{
        position: relative;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #caixa2{
        position: relative;
        grid-column-start: 5;
        grid-column-end: 6;
    }
    
}

/*---------------------------------------------------------------------------------------------*/