body{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
    color: rgba(255,255,255,.66);
    background-color: #000;

    .links_listheader{
        color:rgba(255,255,255,.66);
        text-decoration: none;
    }
    .links_listheader:hover{
        color: white;
    }
    
    #sapo_logo{
        height: 60px;
        max-width: 100%;

    }
    
    .cabecalho{
        display: flex;
        width: 100%;

    }

    .listheader{
        padding-top: 0px;
        padding-left: 5px;
        margin: auto;
        display: flex;
        gap: 10px;
        list-style: none;
        width: 100%;
        height: 100%;
    }
}

.header1{
    padding-left: 250px;
    padding-right: 250px;
    background-color: #f3f2ed;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 100px;

    #img2header{
        display: flex;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #listbottom{
        display: flex;
        align-items: center;
        grid-column-start: 8;
        grid-column-end: 9;
    }
    
    .listb{
        color: #6f6d66;
        font-family: 'Roboto', sans-serif;
        display: flex;
        list-style: none;
        gap: 45px;
        
    }
}